<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1 TASK</title>
  </head>
  <body>
    <a href="../index.html">Back</a>
    <h1>Task 1</h1>
    <select class="breed-select"></select>
    <p class="loader">Loading data, please wait...</p>
    <p class="error">Oops! Something went wrong! Try reloading the page!</p>
    <div class="cat-info"></div>

    <script src="../js/1task.js" type="module"></script>
  </body>
</html>
